* {
    margin: 2px;
    overflow: hidden;
}

.container {
    height: 500px;
    width: 100%;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around;  */
    /* justify-content: space-evenly; */
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    /* align-content:space-around; */
    border: 1px solid rgb(73, 62, 13);
}

.container div {
    width: 100px;
    height: 100px;
    /* align-content: space-around; */
    border: 1px solid aqua;
}

#box1 {
    align-self: self-end;
    order: 1;
    flex-grow: 1;
    flex-shrink: 3;
}
#box3{
    flex-grow: 1;
    flex-shrink: 2;
}